ErrorDocument 500 /error/50x.html
ErrorDocument 404 /error/404.html
ErrorDocument 401 /error/50x.html
ErrorDocument 403 /error/50x.html
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} "Collage" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "Custo" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "Download Wonder" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "ESIRover" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "GetBot" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "GetURL" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "GetWeb" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "HavIndex" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "httrack" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "InfoSpiders" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "Internet Explore" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "Jeeves" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "jpeg hunt" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "KDD Explorer" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "LightningDownload" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "PBWF" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "Shai'Hulud" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "SpiderBot" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "ssearcher100" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "Templeton" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "vobsub" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "w3mir" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "WebBandit" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "WebCatcher" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "webcopier" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "WebCopy" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "WebFetcher" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "WebMirror" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "WebReaper" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "webvac" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "WebWalk" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "wGet" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "xGet" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "atSpider" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "autoemailspider" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "cherrypicker" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "DSurf" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "DTS Agent" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "EliteSys Entry" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "EmailCollector" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "EmailSiphon" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "EmailWolf" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "Mail Sweeper" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "munky" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "Roverbot" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "eCatch" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "MemoWeb" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "Teleport Pro" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "WebCopier" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "WebZIP" [NC,OR] 
RewriteCond %{HTTP_USER_AGENT} "WebEmailExtrac" [NC] 
