* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .offset:hover,
  .offset:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }
  
  .offset {
    --color: #7367F0;
    --hover: #7367F0;
  }
  
  button {
    color: var(--color);
    transition: 0.25s;
  }
  button:hover, button:focus {
    border-color: var(--hover);
    color: #7367F0;
  }
  
  button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: .3;
    margin: 1em;
    padding: 1em 3em;
  }
  body {
    font-family: "ROBOTO", sans-serif;
  }
  
  .nav,
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: #1e1f26;
    text-align: center;
    padding: 0 2em;
  }
  
  .nav h1,
  .slider h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.3rem;
    color: #7367F0;
    transition: all 0.3s ease;
    z-index: 3;
  }
  h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
  }
  h3.span {
    font-size: 2vw;
    letter-spacing: 0.7em;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
  }
  span:hover {
    color: #ff0266;
    font-weight: 500;
    font-size: 2.2vw;
  }
  
  a {
    text-decoration: none;
  }
  
  .nav h2,
  .slider h2 {
    font-size: 2vw;
    letter-spacing: 0.3rem;
    font-family: "ROBOTO", sans-serif;
    font-weight: 300;
    color: #faebd7;
    z-index: 4;
  }
  
  .nav-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 10;
    background-color: transparent;
    transition: background-color 0.3s ease;
    box-shadow: none;
  }
  
  .nav-highlight {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .nav-container--top-first {
    position: fixed;
    top: 75px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .nav-container--top-second {
    position: fixed;
    top: 0;
  }
  .nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  
    color: #7367F0;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 1.5vw;
    transition: all 0.5s ease;
  }
  
  .nav-tab:hover {
    color: #1e1f26;
    transition: all 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .nav-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #03dac6;
    transition: left 0.3s ease;
  }
  
  
  .background {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  
  .loader span {
    color: #faebd7;
    text-shadow: 0 0 0 #faebd7;
    -webkit-animation: loading 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes loading {
    to {
      text-shadow: 30px 10px 80px #7367F0;
      color: #7367F0;
    }
  }
  .loader span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
  }
  .loader span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
  }
  .loader span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
  }
  .loader span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
  }
  .loader span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
  }
  .loader span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
  }
  .loader span:nth-child(8) {
    -webkit-animation-delay: 0.7s;
  }
  .loader span:nth-child(9) {
    -webkit-animation-delay: 0.8s;
  }
  
  .loader span:nth-child(10) {
    -webkit-animation-delay: 0.9s;
  }
  .loader span:nth-child(11) {
    -webkit-animation-delay: 1s;
  }
  .loader span:nth-child(12) {
    -webkit-animation-delay: 1.1s;
  }
  .loader span:nth-child(13) {
    -webkit-animation-delay: 1.2s;
  }
  .loader span:nth-child(14) {
    -webkit-animation-delay: 1.3s;
  }
  .loader span:nth-child(15) {
    -webkit-animation-delay: 1.4s;
  }
  .loader span:nth-child(16) {
    -webkit-animation-delay: 1.5s;
  }
  .loader span:nth-child(17) {
    -webkit-animation-delay: 1.6s;
  }
  .loader span:nth-child(18) {
    -webkit-animation-delay: 1.7s;
  }
  .loader span:nth-child(19) {
    -webkit-animation-delay: 1.8s;
  }
  .loader span:nth-child(20) {
    -webkit-animation-delay: 1.9s;
  }
  .loader span:nth-child(21) {
    -webkit-animation-delay: 2s;
  }
  .loader span:nth-child(22) {
    -webkit-animation-delay: 2.1s;
  }
  
  
  h1 {
    font-weight: 400;
  }
  
  code {
    color: #faebd7;
    font: inherit;
  }
  .nav2 h3{
    position: absolute;
    top: 0;
  }
  
  /* chevron */
  .scroll {
    position: center;
    width: 24px;
    height: 10px;
  }
  
  .chevron {
    position: center;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 80%;
    width: 51%;
    background: #7367F0;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
  
  
  ::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #1e1f26;
  }
  
  ::-webkit-scrollbar
  {
      width: 6px;
      background-color: #1e1f26;
  }
  
  ::-webkit-scrollbar-thumb
  {
      background-color: #000000;
  }
  
  
  /* title */
    section .title span {
      display: inline-block;
      font-size: 5vw;
      color: #efefef;
      width: 100%;
      text-transform: uppercase;
      transform: translateX(-100%);
      animation: byBottom 1s ease both;
      font-weight: 600;
      letter-spacing: 0.25vw;
    }
    section .title span a {
      position: relative;
      display: inline-block;
      margin-left: 0.5rem;
      text-decoration: none;
      color: #7367F0;
    }
    section .title span a::after {
      content: "";
      height: 2px;
      background-color: #7367F0;
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 0;
      animation: linkAfter 0.5s 1s ease both;
    }
    @-moz-keyframes pop {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
    }
    @-webkit-keyframes pop {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
    }
    @-o-keyframes pop {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes pop {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
    }
    @-moz-keyframes byBottom {
      0% {
        transform: translateY(150%);
      }
      100% {
        transform: translateY(0);
      }
    }
    @-webkit-keyframes byBottom {
      0% {
        transform: translateY(150%);
      }
      100% {
        transform: translateY(0);
      }
    }
    @-o-keyframes byBottom {
      0% {
        transform: translateY(150%);
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes byBottom {
      0% {
        transform: translateY(150%);
      }
      100% {
        transform: translateY(0);
      }
    }
    @-moz-keyframes linkAfter {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
    @-webkit-keyframes linkAfter {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
    @-o-keyframes linkAfter {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
    @keyframes linkAfter {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
    
  /*mobile only*/
  @media screen only (min-width: 560px) {
    .nav h1,
    .slider h1 {
      font-size: 8vw;
    }
  
    .nav h2,
    .slider h2 {
      font-size: 2vw;
      letter-spacing: 0.2vw;
    }
  
    .nav-tab {
      font-size: 1.2vw;
    }
  }
  
  